:root{
  /* Colors*/
  --color-lighter-green: #E3F1DF;
  --color-green: #002E25;
  --color-pink: #FFC8B5;
  --color-light-green: #D4F9F3;
  --color-yellow: #FFCB67;
  --color-white:#ffff;
  --pink: #ff2581;
  --grey: #5C5F62;
}
